/* button {
    width:140px;
    height:40px;
    @include border-radius-4;
    @include sexy-border(5px,red)
} */

/* .clearfix:after{
    content:"";
    display: block;
    clear:both;
    overflow: hidden;
} */




